.homepage {
    background: url(../l-images/bg.png) 50%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.overlay {
    background: rgba(0,0,0,0.5);
    width: 50%;
    position: relative;
    top:20%;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow:0 0 10px #000;
    padding-bottom: 50px;
}
.logo {
    background: url(../l-images/logo.png);
    width: 346px;
    height: 272px;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    top:-100px; 
}
.referance{
    text-align: center;
    font-size:30px;  
    font-family: 黑体;
    height: 50%;
    margin-top: -60px;
    color: #fff;
}
.click{
    width: 250px;
    color: #fff !important;
    position: relative;
    background: transparent !important;
    display: block !important;
    margin: 50px auto;
}
.introduction { background: url(../l-images/bg平铺用.png) 50%;
    overflow: visible;
}
h1{
    text-align: center;
    margin-top: 10%;
    font-weight: bolder;
    font-family: 黑体 !important;
}
h2{
    font-weight: bolder;
    font-family: 黑体 !important;
}
.text{
    font-size: 30px;
    font-family: serif;
    text-align: center;
    margin-top: 0px;
    padding-top: 32px;
}
.content{
    margin-bottom: 10%;
}
.color-web{
    width: 400px;
    height: 400px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    overflow:hidden;
    border-radius:10px;
    margin-top: 8%;  
}
.web{
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-top: 10%;
    top: 5%;
}
.type-web{
    width: 440px;
    height: 160px;
    margin-top: -200px;
    background-color: #fff;
    position: relative;
    z-index: 11;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 10%;
    padding-top: 10px;
}
.color-hardware{
    width: 400px;
    height: 400px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    overflow:hidden;
    border-radius:10px;
    margin-top: 8%;   
}
.hardware{
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 10%;
    top: 5%;
}
.type-hardware{
    width: 440px;
    height: 160px;
    margin-top: -200px;
    background-color: #fff;
    position: relative;
    z-index: 11;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 10%;
    padding-top: 10px;
}
.color-algorithm{
    width: 400px;
    height: 400px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    overflow:hidden;
    border-radius:10px;
    margin-top: 8%;
    margin-bottom: 10%;
}
.algorithm{
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.type-algorithm{
    width: 440px;
    height: 160px;
    margin-top: -160px;
    background-color: #fff;
    position: relative;
    z-index: 11;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 10%;
    padding-top: 10px;
}
.color-software{
    width: 400px;
    height: 400px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    overflow:hidden;
    border-radius:10px;
    margin-top: 8%;
    margin-bottom: 10%;   
}
.software{
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-top: 10%;
    top: 5%;
}
.type-software{
    width: 440px;
    height: 160px;
    margin-top: -200px;
    background-color: #fff;
    position: relative;
    z-index: 11;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 10%;
    padding-top: 10px;   
}