body {
    margin: 0px;
    padding: 0px;
}

.section {
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft Yahei';
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.main {
    width: 1000px;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em 3.125em 1.875em;
}

#menu {
    position: fixed;
    top: 8px;
    right: 2px;
    background: transparent;
    width: 6%;
}

#menu ul {
    float: left;
    list-style: none;
}

#menu ul li a:link {
    list-style: none;
    text-decoration: none;
    font-family: 'Microsoft Yahei';
}

#menu ul li a:hover {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-family: bold;
}

/* COMPONENT.CSS */

/* Made with http://icomoon.io/ 时间轴的线*/
.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #dddddd;
    left: 20%;
    margin-left: -10px;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

/*左边的年份*/

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #000000;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 25%;
    background: #fff;
    color: #000000;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 25px;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The icons 时间线上的圆圈*/

.cbp_tmtimeline > li .cbp_tmicon {
    width: 20px;
    height: 20px;
    speak: none;
    position: absolute;
    background: #444444;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #dddddd;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -15px;
}

.photo {
    width: 100%;
    min-height: 20em;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.section4 {
    font-size: 20px;
    text-align: center;
    background-image: url(../simages/bg2.png);
    background-size: contain;
    padding-top: 10px;
    padding-bottom: 0px;
    background-repeat: no-repeat;
}

.login {
    text-align: left;
}

.login1:before {
    content: '学号:';
}

.login2:before {
    content: '姓名:';
}

.login3:before {
    content: '班级:';
}

.login4:before {
    content: 'QQ:';
}

.login1 {
    border-radius: 38px;
    height: 60px;
    width: 500px;
    background: #dddddd;
    margin: 20px auto;
    padding-top: 12px;
    padding-left: 80px;

}

.id {
    background: transparent;
    border: none;
}

.login2 {
    border-radius: 38px;
    height: 60px;
    width: 500px;
    background: #dddddd;
    margin: 20px auto;
    padding-top: 12px;
    padding-left: 80px;

}

.name {
    background: transparent;
    border: none;
}

.login3 {
    border-radius: 38px;
    height: 60px;
    width: 500px;
    background: #dddddd;
    margin: 20px auto;
    padding-top: 12px;
    padding-left: 80px;
}

.class {
    background: transparent;
    border: none;
}

.login4 {
    border-radius: 38px;
    height: 60px;
    width: 500px;
    background: #dddddd;
    margin: 20px auto;
    padding-top: 12px;
    padding-left: 80px;
}

.qq {
    background: transparent;
    border: none;
}

.login5 {
    border-radius: 38px;
    height: 60px;
    width: 500px;
    background: #00cccc;
    margin: 20px auto;
    padding-top: 12px;
}

.submit {
    font-size: x-large;
    background: transparent;
    border: none;

}

input[type~="submit"]:hover {
    background: green;
}

.end {
    width: 100%;
    height: 150px;
    background: #333;
    padding: 40px 28%;
    text-align: left;
    /*position: absolute;
    bottom: 0px;
    margin: 0px;*/
}

table {
    margin-right: auto;
    margin-left: auto;
    border: none;
}

table td {
    font-size: 14px;
    color: #605b55;

}